@page "/game/{groupName}"
@inject IInGameHubService inGameService


<h1>@groupName</h1>

<p>
    Игроки:
</p>
<ul>
    @foreach (var client in clients)
    {
        <li>client - @client.Name</li>
    }
</ul>

@if (User is null) {
    <p>Введите имя пользователя:</p>
    <br />
    <input id="userName" type="text" required @bind-value="usernameInput" />
    <br />
    <br />

    <div>
        <input type="button" id="sendBtn" value="Подключиться к игре" @onclick="(() =>{ Console.WriteLine('c'.ToString()); ConnectToServerRequest().Wait();})" />
    </div>
}
else if (readyUsers != clients.Count)
{
    <div>
        <input type="button" id="sendBtn" value="Готов" @onclick="(async () => await UserReadyRequest())" disabled="@(!isDisplay)" />
    </div>
    <p>Готово пользователей @readyUsers</p>
}
else
{
    <GameBoard isBetter="@isBetter" Username="@usernameInput" GroupName="@groupName" />

    @if (isBetter)
    {
        <div>
            Введите вашу ставку
        </div>
    }
    else
    {
        <div>
            Ожидайте пока пользователь введет ставку
        </div>
    }
}

@code {
    // захардкоженная группа
    [Parameter]
    public string groupName { get; set; }

    // отображение кнопки готов
    private bool isDisplay = false;
    // отображение того, кто ставит
    private bool isBetter = false;
    private string? usernameInput;

    public string? User { get; set; }
    private List<Client> clients = new();
    private int readyUsers = 0;

    protected async override Task OnInitializedAsync()
    {
        //Console.WriteLine("Init");
        // запрос готовности у всех пользователей
        inGameService.CreateConnection("HandleUserReadyCheck", (Client client) =>
        {
            // добавляем подключенного пользователя
            this.clients.Add(client);

            //осуществляем запрос готовности, путем отображения кнопки
            isDisplay = true;

            this.StateHasChanged();
        });

        // обработка подключенного пользователя
        inGameService.CreateConnection("HandleUserConnected", (Client client) =>
        {
            // просто добавляем подключенного пользователя
            this.clients.Add(client);

            this.StateHasChanged();
        }); 

        // обработка начала игры
        inGameService.CreateConnection("HandleGameStart", (Client client) =>
        {
            // увеличиваем количество готовых пользователей(хаб вернул клиента,
            // нажавшего готов, поэтому надо это обработать)
            readyUsers++;

            // определяем того, кто делает ставку
            isBetter = client.Name == User;

            this.StateHasChanged();
        });

        // обработка готовности игрока
        inGameService.CreateConnection("HandleUserReady", (int userReadyAmount) =>
        {
            // устанавливаем количество готовых пользователей
            readyUsers = userReadyAmount;

            this.StateHasChanged();
        });

        // получение всех клиентов от сервера 
        // (нужно когда пользователь только подключается к игре)
        inGameService.CreateConnection("HandleGetAllClients", (List<Client> respClients) =>
        {
            clients = respClients;

            this.StateHasChanged();
        });


        await inGameService.ConnectToHub();

        // получаем всех пользователей
        await inGameService.GetClientsRequest(groupName);
    }

    // подключение к хабу
    public async Task ConnectToServerRequest()
    {
        if (string.IsNullOrEmpty(usernameInput))
            return;

        User = usernameInput;
        await inGameService.ConnectToServerRequest(User!, groupName!);
        this.StateHasChanged();
    }

    // обработка нажатия кнопки готов
    public async Task UserReadyRequest()
    {
        // отправка запроса к хабу
        await inGameService.UserReadyRequest(groupName!);

        // перестаем отображать кнопку готов
        isDisplay = false;
        this.StateHasChanged();
    }

}
